*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: rgb(255, 251, 251);
}
.container{
    background-color: rgb(117, 119, 121);
    
    padding: 40px 30px;
    width: 50%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: 'poppins' ,sans-serif;
    box-shadow: 25px 25px 30px ;
    border-radius: 50px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.row span{
font-weight: 500;
}
input[type="range"]{
width: 200px;
height: 3px;
-webkit-appearance: none;
appearance: none;
border-radius: 3px;
outline: none;
background-color: rgb(170, 173, 175);
}
input[type="range"]::-webkit-slider-thumb{
-webkit-appearance: none;
appearance: none;
height: 10px;
width: 10px;
background-color: black;
border-radius: 50%;
cursor: pointer;

}
#result{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #0be881;
}
#category {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}